.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  font-size: 4.2rem;
  padding-left: 1rem;
}

.posts {
  list-style: none;
  padding-left: 0;
}

.post {
  margin: 0 auto 1rem;
  padding: 0 0 1rem;
}

.post:hover {
  cursor: pointer;
  background: #efefef;
}
